///
/// The controllers involved for the home screen.
///

// The App Controller
export 'package:{{projectName}}/src/home/controller/template_controller.dart';

// The Contacts app
export 'package:{{projectName}}/src/home/controller/contacts_controller.dart';

// The Counter app
export 'package:{{projectName}}/src/home/controller/counter_controller.dart';

// The Word Pairs app
export 'package:{{projectName}}/src/home/controller/wordpairs_controller.dart';
