///
export 'package:mvc_application/controller.dart'
    show App, AppDrawer, ControllerMVC hide HandleError;

export 'package:mvc_application/settings.dart' show AppSettings, Prefs;

/// Home Screen Controller
export 'package:{{projectName}}/src/home/controller.dart';
