/// Flutter interface
export 'package:mvc_application/view.dart';

/// The interface at the 'app level'
export 'package:{{projectName}}/src/app/view.dart';

/// The interface of the counter app
export 'package:{{projectName}}/src/home/view.dart';
