///
/// All the data involved for the home screen.
///

export 'package:{{projectName}}/src/home/model/contacts/contact.dart';

export 'package:{{projectName}}/src/home/model/contacts/contact_fields.dart';

export 'package:{{projectName}}/src/home/model/contacts/contacts_db.dart';
