// The MVC application framework.
export 'package:mvc_application/controller.dart';

// The controller for the app as a whole.
export 'package:{{projectName}}/src/app/controller.dart';

// The controller for the home screen.
export 'package:{{projectName}}/src/home/controller.dart';
